@charset "UTF-8";

/* ===== SectionHeader.jsx Styling ===== */
ul.alice-carousel__dots {
  margin-top: 5px;
}

.readMoreLink {
    text-decoration: none;
}

.readMoreLink:hover {
    text-decoration: none;
}