@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* body {
  max-width: 1400px;
  overflow-x: hidden;
} */

main {
  display: block !important;
  margin: auto !important;
}

* {
  box-sizing: border-box;
}

/******** Website Scrollbar CSS */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: "white";
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.473);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.616);
}
